@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

@font-face {
  font-family: 'OMORI_GAME';
  src: url('/fonts/omori_game2-webfont.woff2') format('woff2'),
       url('/fonts/omori_game2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OMORI_GAME2';
  src: url('/fonts/omori_game-webfont.woff2') format('woff2'),
       url('/fonts/omori_game-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
	--blue-grey: #474853;
  --light-purple: #CAB4DE;
  --dark-grey: #3A3B3C;
  --light-grey: #FAFAFA;
}

* {
	cursor: default;
	font-family: montserrat;
	font-weight: 600;
}

.omoText:hover > a {
  font-family: OMORI_GAME2;
  font-weight: 500;
  font-size: 26px;
}

/* 
body:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgba(164, 164, 164, 0.6);
  background-image: linear-gradient(
    115deg,
    rgba(28, 28, 28, 0.9),
    rgba(130, 130, 130, 0.9)
    ),
  
    url(https://64.media.tumblr.com/88a77a6e025bd356fbb23b1c2c469514/9c2d3c1a2d027cf6-f7/s2048x3072_c0,0,100000,99722/212a7808a74de98ffe95d000d3baf2601a6410fd.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
 */


body {
  position: relative;
  min-height: 100vh;
	background-color: var(--blue-grey);
	color: var(--light-purple);
  margin: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:visited {
  color: var(--light-purple)
}

ul,
li,
a	{
	list-style: none;
}

h1 {
	font-size: 2rem;
	text-align: center;
	margin-top: 7rem;
}

input[type="text"] {
	cursor: text;
}

header {
	position: fixed;
	top: 0;
  width: 100%;
  display: flex;
  background-color: var(--blue-grey);
  padding: 20px 4vmin;
  max-height: 35
}

#header-img{
	margin-right: auto;
}

nav > ul {
	display: flex;
	flex-direction: rows;
	margin: auto 3rem
}

nav > ul > li > a {
  margin: auto 2rem;
	font-size: 1.1rem;
  font-weight: 700;
	color: var(--light-purple);
	transition: all 0.3s ease 0s;
}

nav > ul > li {
  height: 2.5rem;
}

li:hover > a {
	color: var(--light-grey);
}

.dropdown {
  background-color: var(--light-grey);
  color: black;
  margin-top: 19px;
  width: 6.5rem;
  display: block;
  position: absolute;
  box-shadow: 8px 5px 10px var(--dark-grey);
  transition: all 500ms;
  overflow: hidden;
  transform-origin: top;
  transform: scale(1,0);
}

.dropdown > li {
  padding: 15px 0;
  text-align: center;
  margin-left: -40px;
}

.dropdown > li:hover {
  background: var(--dark-grey);
}

.dropdown > li > a:visited,
.dropdown > li > a:link{
  color: black;
}

.dropdown > li:hover > a {
  color: var(--light-grey);
}

.nav-dropdown:hover > ul {
  display: block;
  transform: scale(1);
  transition-delay: 400ms;
}

.line-animate .hover::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #85929e;
    transition: width 300ms;
    margin-top: 17px;
}
.line-animate .hover:hover::after {
    width: 100%;
}

#main-console {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
}

#guess {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 4rem auto auto auto;
	padding: 0.5rem;
	font-size: 1.5rem;
	text-align: center;
}

#min-max {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 3rem auto 2rem auto;
	width: 100%;
	max-width: 25rem;
}

#min,
#max {
	width: 100%;
	max-width: 1/3;
	margin: auto 1rem;
	padding: .5rem;
	font-size: 1.2rem;
}

button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2rem auto auto auto;
	padding: 0.6rem 2rem;
	font-size: 1.3rem;
  background-color: var(--light-grey);
	text-align: center;
	transition: transform 0.3s;
  border-radius: 2px;
  border: none 0;
  box-shadow: 8px 5px 10px var(--dark-grey);
}

button:hover {
	transform: scale(1.03);
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  transition: all 75ms linear;
  opacity: .75;
  background: var(--light-grey);
}

.text {
	text-align: center;
	font-size: 1.75rem;
	font-weight: 600;
}

footer {
  position: absolute;
  background-color: var(--blue-grey);
  opacity: 80%;
  width: 100%;
  bottom: 0;
}

footer > ul {
  display: flex;
  justify-content: center;
  padding: .3rem 3vmin 0 3vmin;
}

footer > ul > li > a {
  padding: 0 1.5rem;
  color: var(--light-purple)
}

footer > span {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  padding-bottom: 16px;
  font-size: 13px;
}